/*Home page media css----*/

@media only screen and (max-width: 1800px) {
.temp-home_mainwrapper{ width: 100%; height: 685px;  background-size: 1800px; }
}

@media only screen and (max-width: 1680px) {
    .temp-home_mainwrapper{ width: 100%; height: 516px;  background-size: 1800px; background-position: -200px top; }
    .contact_form_block{ margin: 28px auto;}
    .contact_form_block .contact_form_left .form-control{ height: 44px; margin-bottom: 16px;}
    .contact_form_block .contact_form_left .form-control2{ height: 195px; margin-bottom: 16px;}
}




@media only screen and (max-width: 1400px) {
    .temp-home_mainwrapper{ width: 100%; height: 383px;  background-size: 1600px; background-position: -200px top; }
    .contact_form_block{ margin: 15px auto; width: 80%!important;}


    .contact_form_right h2{ font-size: 14px; line-height: 20px;     margin-top: 2px;
        margin-bottom: 2px;}
    .contact_form_right h4{ font-size: 14px; line-height: 20px;      margin-top: 2px;
        margin-bottom: 2px;    padding: 5px 0 5px 45px;}
    .contact_form_right h3{ font-size: 14px; line-height: 20px;      margin-top: 2px;
        margin-bottom: 2px;    padding: 5px 0 5px 45px;}
    .contact_form_block .contact_form_left .form-control2{ height: 125px; margin-bottom: 10px;}
    .contact_form_block .contact_form_left .form-control{ height: 40px; margin-bottom: 10px;}

    .contact_form_block .contact_form_left{ width: 70%;}
    .contact_form_block .contact_form_right{ width: 28%;}
}


@media only screen and (max-width: 1199px) {
    .temp-home_mainwrapper{ width: 100%; height: 555px;  background-size: 1400px; background-position: -200px top; }

    .doctorporta_btn{ float: right; margin-right: 40px;}
}

@media only screen and (max-width: 780px) {

    .temp-home_mainwrapper{ width: 100%; height: 555px;  background-size: 1400px; background-position: -310px top; }
}


@media only screen and (max-width: 680px) {
    .doctorporta_btn{  width: 280px; height: 75px;  background-size: cover; margin-right: 15px;}

    .doctorporta_btn a{ font-size: 20px;  padding: 25px 0 0 82px;}
}

@media only screen and (max-width: 530px) {
    .doctorporta_btn{ float: none; margin: 0 auto; margin-bottom: 10px;}
    .temp-home_mainwrapper td{ width: 100%; height: 100%; border: none; vertical-align: bottom;}
}

@media only screen and (max-width: 1700px) {

    .contract_waitingdiv_block1{ padding-top: 0px;}

    .information-form_main{ width: 1100px; margin: 0 auto; margin-top: 0px;}

    .information-form_wrapper{ background: #e4e4e4 url("../images/information-form_bg.png") no-repeat right bottom; padding: 30px 315px 30px 30px!important; min-height: 700px;}


    .information-form_wrapper{ background-position: 880px bottom;}
}

@media only screen and (max-width: 1500px) {


    .updateleadwrapper{ width: 1260px!important; margin: 0 auto !important; margin-bottom: 20px;}

    .updateleadwrapper .span4{ width: 355px!important; margin: 0px!important; float: right;}



    .updateleadwrapper .span12{ width:870px!important}



    .lead_management_table{ width: 1260px!important;}


    .lead_management_table #button_action_panel{ width: 355px!important; margin: 0px!important;}

    .lead_management_table #lead_management_fieldset{ width: 870px!important;}

    #button_action_panel #lead_management_qsearch_form #te_qkeywords{width: 290px !important;}

    .page-training .training_container{ width:1200px;}

    .page-training  .training_left_side{  width: 900px!important; }
    .page-training .dashboard_side_menu { width: 260px;}

    .page-training .trainingbannerdiv{ width: 1200px; height: 153px;}

    .page-training  .dashboard_side_menu .icon_button{ width: 260px;}


    .lead_management_banner_wrapper {
        width: auto;
        padding: 0 0 0 20px;
    }

    .lead_management_banner_text{ width: 600px;}

    .lead_management_banner_text h2 {

        background-size: 146px;
        padding: 20px 190px 20px 0;
        font-size: 38px;

    }


    .lead_management_banner_text h3{padding: 10px 0 0 0;}


    /*---------*/

    .manage_contact_banner_wrapper {
        width: auto;
        padding: 0 0 0 20px;
    }

    .manage_contact_banner_text{ width: 550px;}

    .manage_contact_banner_text h2 {

        background-size: 146px;
        padding: 20px 190px 20px 0;
        font-size: 38px;

    }


    .manage_contact_banner_text h3{padding: 10px 0 0 0;}
}


@media only screen and (max-width: 1460px) {

    .information-form_wrapper .information-formconbox{ width: 640px; float: left;}
    .information-form_wrapper .information-formconbox .form-group{ width: 300px; float: left; margin: 0 20px 18px 0;}

    .information-form_wrapper{  padding: 30px 200px 30px 30px!important; min-height:inherit; background-size: 600px; background-position: right bottom;}

    .welcome_page_banner2_wrapper {
        margin: 0 auto !important;
        width: 1200px;
    }


    .welcome_page_banner2box {
        background: rgba(0, 0, 0, 0) url("../images/welcome_border2.png") no-repeat scroll left 24px;
        float: left;
        height: auto;
        margin: 0 0 0 -64px;
        padding-left: 46px;
        width: 450px;
    }

    .welcome_page_banner2box_text{ width: 100%; height: auto; display: block;}

    .welcome_page_banner2_wrapper .box2img{ margin-top: 20px;}
}

@media only screen and (max-width: 1400px) {

    .contract_waitingdiv_block1 table{ height:auto;}
    .contract_waitingdiv_block1{ background-size: 300px; padding: 100px 320px 10px 0;}

    .about_banner_block{ background-position: -170px top;}

}

@media only screen and (max-width: 1360px) {
    .menu_block1 .topmenu_left {
        width: 450px; float: left;
    }

    .menu_block1 .topmenu_right {
        float: right;
        padding: 0 !important;
        width: 690px;
    }



    .mailinboxwrapper{ width: 100%!important;}

    .mailinboxleft{ width: 30%!important;}
    .mailinboxright{ width: 70%!important;}

}


@media only screen and (max-width: 1280px) {

    .menu_block2 .menu_block2_link a{    margin: 0px 10px!important;}
    .lead_management_banner_text {
        width: 480px;
    }

    .manage_contact_banner_text {
        width: 540px;
    }
}



@media only screen and (max-width: 1260px) {

    .information-form_wrapper .information-formconbox{ width: 600px; float: left;}
    .information-form_wrapper .information-formconbox .form-group{ width: 280px; float: left; margin: 0 20px 18px 0;}

    .information-form_wrapper{  padding: 30px 180px 30px 30px!important; min-height:inherit; background-size: 580px;}


}


@media only screen and (max-width: 1230px) {

    .menu_block2 .menu_block2_link a{    margin: 0px 6px!important;}

}


@media only screen and (max-width: 1220px) {
    .page-training .training_container{ width:991px;}

    .page-training  .training_left_side{  width: 700px!important; }
    .page-training .dashboard_side_menu { width: 260px;}

    .page-training .trainingbannerdiv{ width: 991px; height:126px;}

    .page-training  .dashboard_side_menu .icon_button{ width: 260px;}

}





@media only screen and (max-width: 1199px) {



    .lead_management_table{ width: 90%!important;}


    .lead_management_table #button_action_panel{ width: 405px!important; margin: 0px auto!important; float: none; margin-bottom: 20px!important;}

    .lead_management_table #lead_management_fieldset{ width: 100%!important; float: none;}

    #button_action_panel #lead_management_qsearch_form #te_qkeywords{width: 340px !important;}




    .lead_management_banner{   width:100%; background-size: 220%; height: auto; padding-top: 36%;  }

    .lead_management_banner_wrapper {
        width: auto;
        padding: 20px 0;
    }


    .lead_management_banner_text{ width: 100%; height: auto; display: table-cell; vertical-align: middle;}


    .lead_management_banner_text h2 {
        margin: 0;
        background: url("../images/nex_logo.png") no-repeat top center;
        background-size: 180px;
        padding:  105px 10px 0 10px;
        font-size: 36px; text-align: center;

    }

    .lead_management_banner_text h3 { text-align: center; padding:  0 10px;}



    /*-------*/

    .manage_contact_banner{   width:100%; background-size: 220%; height: auto; padding-top: 36%;  }

    .lead_management_banner_wrapper {
        width: auto;
        padding: 20px 0;
    }


    .manage_contact_banner_text{ width: 100%; height: auto; display: table-cell; vertical-align: middle; padding:10px 0 20px 0;}


    .manage_contact_banner_text h2 {
        margin: 0;
        background: url("../images/nex_logo.png") no-repeat top center;
        background-size: 180px;
        padding:  105px 10px 0 10px;
        font-size: 36px; text-align: center;

    }

    .manage_contact_banner_text h3 { text-align: center; padding:  0 10px;}

    .menu_block2 .menu_block2_logo {
        display: block;
        float: none;
        width: 190px;
        margin: 20px auto;
        padding-top: 0px;
    }

    .menu_block2 .menu_block2_logo .nex_logo {
        width: 100%;
    }

    .menu_block2 .menu_block2_link {
        display: block;
        float: none;
        margin-left: 0;
    }

    .menu_block2{ background-image: none;}
    .menu_block2 .menu_block2_link .menuicon {
        display: block;
        margin: 0 auto;
        margin-bottom:10px; float: none;
    }


    .menu_block2 .menu_block2_link a{ display:inline-block; margin: 0 auto; position: relative;}

    .menu_block2_link .menu_block2_ullink{ display: block; margin: 0 auto; width: 100%; margin-bottom: 10px;   border-bottom: solid 1px #1b607f; }

    .menu_block2_link .menu_block2_ullink li{ display: block; float: none;  border-top: solid 1px #1b607f; padding: 10px 0; text-align: center;}
    .menu_block2_link .menu_block2_ullink li:hover{ background: #071014!important;}

    .menu_block2_link .menu_block2_ullink .dropdown-menu{ background: #03090c!important; box-shadow:none!important; border:none!important; padding: 0px; border-radius: 0px!important; width: 100%; position: inherit;}

    .menu_block2_link .menu_block2_ullink .dropdown-menu li{ display: block!important; width: 100%!important; padding: 3px; text-align: center!important;}

    .menu_block2_link .menu_block2_ullink .dropdown-menu li a{ display:inline-block!important; margin: 0 auto!important; text-align: center!important;}



    .nms100_wrapperblock{ width: 90%!important;}

    .nms100_wrapperblock .nms100_block_left{ width: 100%; float: none;}

    .nms100_wrapperblock2 .container .li_tablediv{ width: 49%;}

    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(1){margin-left: 0px; margin-right: 1%; margin-bottom: 20px;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(2){margin-left: 1%; margin-right: 0px;  margin-bottom: 20px;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(3){margin-left: 0%; margin-right:1%;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(4){margin-left: 1%; margin-right: 0px;}


    .nms100_wrapperblock .nms100_block_right {
        width: auto;
        float: none;
        margin: 30px 0 0 0;
        padding: 0;
    }

    .nms100_wrapperblock2 .container{ width: 94%; margin: 0 auto;  padding: 0!important; clear: both;}

    .nex_logo_rp1{ display: none;}
    .nex_logo_rp2{ display: block;}

    .welcome_page_topbanner{ background-image: none!important;
        background: rgba(156,216,242,1)!important;
        background: -moz-linear-gradient(left, rgba(156,216,242,1) 0%, rgba(196,232,246,1) 27%, rgba(207,237,248,1) 51%, rgba(196,232,246,1) 71%, rgba(156,216,242,1) 100%)!important;
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(156,216,242,1)), color-stop(27%, rgba(196,232,246,1)), color-stop(51%, rgba(207,237,248,1)), color-stop(71%, rgba(196,232,246,1)), color-stop(100%, rgba(156,216,242,1)))!important;
        background: -webkit-linear-gradient(left, rgba(156,216,242,1) 0%, rgba(196,232,246,1) 27%, rgba(207,237,248,1) 51%, rgba(196,232,246,1) 71%, rgba(156,216,242,1) 100%)!important;
        background: -o-linear-gradient(left, rgba(156,216,242,1) 0%, rgba(196,232,246,1) 27%, rgba(207,237,248,1) 51%, rgba(196,232,246,1) 71%, rgba(156,216,242,1) 100%)!important;
        background: -ms-linear-gradient(left, rgba(156,216,242,1) 0%, rgba(196,232,246,1) 27%, rgba(207,237,248,1) 51%, rgba(196,232,246,1) 71%, rgba(156,216,242,1) 100%)!important;
        background: linear-gradient(to right, rgba(156,216,242,1) 0%, rgba(196,232,246,1) 27%, rgba(207,237,248,1) 51%, rgba(196,232,246,1) 71%, rgba(156,216,242,1) 100%)!important;
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9cd8f2', endColorstr='#9cd8f2', GradientType=1 )!important;
      }

    .information-form_main{ width: 100%; margin: 0 auto; margin-top: 0px;}

    .footer_wrapper{ background-image: none; text-align: center;}

    .menu_block1 .topmenu_left {
        width: 450px; float: none; margin: 0 auto;
    }

    .menu_block1 .topmenu_right {
        float: none; margin: 0 auto;
        padding: 0 !important;
        width: 690px;
    }

    .welcome_page_topbanner{ background: url("../images/welcome_img1.jpg") no-repeat center top; background-size: cover; }

    .welcome_page_topbanner .welcome_page_topbanner_wrapper{ width: 100%; padding: 25px; text-align: center;}

    .welcome_page_topbanner .welcome_page_topbanner_wrapper h2{ margin: 0;  background: url("../images/nex_logo.png") no-repeat center top; background-size: 180px;  padding: 100px 0 0 0; font-size: 48px; color: #323232;    font-family: 'ralewaysemibold'; text-transform: uppercase;}




    .welcome_page_banner2box{ background: none; padding:0px; margin: 0; width: 100%; height: auto; float: none; display: block;}

    .welcome_page_banner2box_text{ background: #e7e9eb; padding:30px; min-height:inherit; height: auto;}


    .welcome_page_banner2_wrapper {
        margin: 0 auto !important;
        width: 100%;
    }

    .welcome_page_banner2_wrapper .box2img{ width: auto; max-width: 100%; float: none; display: block; margin: 0 auto;}


    .wellcome_block_div { height: 260px; }

    .wellcome_block_div .wellcome_block_div_wrapper{  height: 270px; }

    .welcome_page_banner3{background-image: none;}




    .information-form_wrapper{  padding: 30px!important; min-height:inherit;background-image: none;}

    .information-form_wrapper .information-formconbox{ width: 700px; float: none; margin: 0 auto;}



    .information-form_wrapper .information-formconbox .form-group{ width: 330px; float: left; margin: 0 20px 18px 0px;}

    .information-form_wrapper .information-form-textcon{ width: 100%; float: none; padding-top: 40px; margin-bottom: 20px; padding-left: 0px; text-align: center;}



    .mailinboxheader{ width: 640px; }

    .mailinboxheader_form{ width: 400px;}

    .mailinboxheader_form .form-control2{ width: 340px!important;}
}



@media only screen and (max-width: 1000px) {
    .page-training .training_container{ width:767px;}

    .page-training  .training_left_side{  width: 90%!important; margin: 0 auto; float: none; }
    .page-training .dashboard_side_menu { width: 300px!important; margin: 0 auto; float: none; margin-top: 45px!important;}

    .page-training .trainingbannerdiv{ width: 767px; height:98px;}

    .page-training  .dashboard_side_menu .icon_button{ width: 300px; float: none; }
    .page-training .dashboard_side_menu h3{ text-align: center;}
    .page-training .button_action_panel_headers{ text-align: center;}
}


@media only screen and (max-width: 991px) {
    .home_top_menu2 .topmenu2_righttemp-home .navbar{ width: 100%;}

    .videos_wrapperblock .videos_block_con:nth-of-type(1){ padding: 0px;}
    .videos_wrapperblock .videos_block_con:nth-of-type(2){ padding: 0px;}

    .home_top_menu2 .topmenu2_left{ width: 100%; margin: 0 auto; padding: 0px!important; margin-top: 14px; margin-bottom: 0px!important; float: none;}
    .home_top_menu2 .topmenu2_left .homenex_logo{ width: 182px; float: none; margin: 0 auto; display: block; }

    .home_top_menu2 .topmenu2_right {background: #1caf62; margin-top: 25px; padding: 0px; width: 100%; float: none;}
    .home_top_menu2 .topmenu2_right .navbar { width: 100%;}

    .home_top_menu2 .topmenu2_right .nav{ width: 100%; margin: 0; padding: 0; }

    .home_top_menu2 .topmenu2_right li{ text-align: center; border-bottom: solid 1px #fff;}

    .home_top_menu2  .navbar-brand{ display: inline-block;}
    .home_top_menu2 .topmenu2_right .navbar{ margin: 0px;}
    .home_top_menu2 .topmenu2_right .navbar a{  color: #fff;}

    .home_top_menu2 .navbar-default .navbar-nav > .active > a, .home_top_menu2  .navbar-default .navbar-nav > .active > a:focus, .home_top_menu2  .navbar-default .navbar-nav > .active > a:hover{    color: #fff; background: #333; }

    .home_top_menu2 .navbar-default .navbar-nav a:hover{   font-family: 'proxima_nova_rgregular'; color: #fff; background: #333; }

    .navbar-default .navbar-toggle{ background: #fff; box-shadow: none; border-color:#1caf62;}
    .home_top_menu2 .topmenu2_right .navbar li{ padding-left: 0px;}

    /*Toggle navbar Mobile*/


    .navbar-header {
        float: none !important;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block !important;
    }

    .navbar-fixed-top {
        top: 0 !important;
    }
    .topmenu2_right .navbar-collapse.collapse {
        display: none!important;
    }

    .topmenu2_right .navbar .in {
        display: block!important;
    }
    .navbar-nav {
        float: none!important;
    }
    .navbar-nav>li {
        float: none !important;
    }


    .navbar-collapse {border-top: 1px solid #fff!important;}
    /*Toggle navbar Mobile*/


    .mailinboxheader{  margin: 6px auto; margin-top:6px;}

    .menu_block2{ background-image: none;}

    .menu_block2 .menu_block2_logo{  display:block; float: none; width: 190px; margin: 20px auto; padding-top: 0px;}

    .menu_block2 .menu_block2_logo .nex_logo{ width: 100%;}
    .menu_block2 .menu_block2_link{ display: block; width: 100%; float: none; text-align: center; padding-bottom: 0px; margin-left: 0px;}










    .wellcome_block_div { height: 230px; width: 48%; }

    .wellcome_block_div .wellcome_block_div_wrapper{  height: 240px; }

    }

@media only screen and (max-width: 767px) {

    .page-training .training_container{ width:600px;}
    .page-training .trainingbannerdiv{ width:600px; height:77px; margin: 0 auto;}

    .page-training  .training_left_side{  width: 100%!important; margin: 0 auto; float: none; }
    .menu_block1 .topmenu_left {
        width: 100%; float: none; margin: 0 auto; text-align: center; padding-bottom: 0px;
    }
    .menu_block1 .topmenu_left a{ display: inline-block; margin-bottom: 20px;}

    .menu_block1 .topmenu_right {
        width: 100%;
    }


    .menu_block1 .topmenu_right .topmenu_right_menu{ width: 100%; float: none; margin: 0 auto; text-align: center; padding-bottom: 0px;}

    .menu_block1 .topmenu_right .topmenu_right_menu a{ display: inline-block; margin-bottom: 20px;}
    .topmenu_right_user{ float: none; margin: 20px auto; margin-top: 0px; }




    .wellcome_block_div { height: 260px; width: 48%; }

    .wellcome_block_div .wellcome_block_div_wrapper{  height: 270px; }


    .information-form_wrapper .information-formconbox{ width: 90%; float: none; margin: 0 auto;}



    .information-form_wrapper .information-formconbox .form-group{ width: 100%; float: none; margin: 0 0px 18px 0px;}


    .mailinboxheader{ width: 100%; }

    .mailinboxheader .maillogodiv{ float: none; margin: 0 auto;}

    .mailinboxheader_form{ width: 300px; float: none; margin: 20px  auto;}

    .mailinboxheader_form .form-control2{ width: 240px!important;}



    .nms100_wrapperblock2 .container .li_tablediv{ width: 100%; float: none;}

    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(1){ margin: 0 auto; margin-bottom: 20px;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(2){margin: 0 auto; margin-bottom: 20px;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(3){margin: 0 auto; margin-bottom: 20px;}
    .nms100_wrapperblock2 .container .li_tablediv:nth-of-type(4){margin: 0 auto; }

}

@media only screen and (max-width: 600px) {

    .page-training .trainingbannerdiv{ width:480px; height:61px; margin: 0 auto;}

    .page-training .training_container{ width:480px;}



    .page-user-mail_manager dl {  width: 90%!important;}
    .page-user-mail_manager .te_buttons {  width: 90%!important;}

}

@media only screen and (max-width: 500px) {

    .wellcome_block_div { height: auto; width: 100%; float: none; margin: 10px auto; }

    .wellcome_block_div .wellcome_block_div_wrapper{  height: auto; display: block; }

    .startedbtn{ width: 290px!important;     font-size: 26px!important;}

    .temain_paging{ width: 300px; margin: 25px auto;}

    .temain_paging .te_paging_left_cell{ display: block; width: 100%; text-align: center;}
    .temain_paging .te_paging_middle_cell{ display: block; width: 100%; text-align: center; padding: 20px 0;}
    .temain_paging .te_paging_right_cell{ display: block; width: 100%; text-align: center;}

    .page-training .trainingbannerdiv{ width:300px; height:38px;}

    .page-training .training_container{ width:300px;}


    .pdf_page1_signblock{ width: 100%; float: none;}

    .pdf_page1_signblock .page1_signinput{ width: 70%;}

    .pdf_page1_block1 ol{ margin-left: 40px;}
}


/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*--------------------------------new front hand ---------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------*/


@media only screen and (max-width: 1280px) {

    .videos_wrapperblock{ width: 90%!important;}

    .about_contain_block2{ width: 90%;}

    .nms100_wrapperblock{ width: 90%!important;}

    .nms100_wrapperblock2 .container{  width: 90%;}

    .about_contain_block3{ width: 90%;}

    .about_contain_block2 .about_contain_block2_text {
        width: 770px;
        float: left;
    }


    .home_block5 {
        background-position: -240px top;
    }



    .home_top_menu1 .container{ width: 90%; margin: 0 auto; padding: 0px;}

    .home_top_menu2 .container{ width: 100%; margin: 0 auto; padding: 0px;}

    .temp-home-top .container{ width: 90%; margin: 0 auto; padding: 0px; }

    .home_top_menu2 .topmenu2_right .navbar a{  padding: 19px 19px;}

    .home_block3con{ width: 90%!important; margin: 0 auto!important;}
    .home_block4con{width: 90%!important; margin: 0 auto!important;}

    .home_block5 .container{ width: 90%!important; margin: 0 auto; padding: 0px;}

    .home_block3con h3{ padding: 0 10px;}

    .home_top_menu2 .topmenu2_left{ padding-left: 20px;}

    .home_block6 { width: 90%; margin: 0 auto; padding: 0px;}

    .adddoctor_body_wrapper{ width: 90%!important;}

    .contact_form_block{ width: 90%!important;}

}

@media only screen and (max-width: 1260px) {

    .nms100_banner_block .container{ width: 100%!important; padding: 0px!important;}

    .home_top_menu1 .container .topmenu1_left{ width: 100%; float: none; text-align: center;}
    .home_top_menu1 .container .topmenu1_right{ width: 100%; float: none; text-align: center;}

    .home_top_menu1 .container .topmenu1_left a{ display: inline-block;}
    .home_top_menu1 .container .topmenu1_right a{ display: inline-block;}

    .contact_form_block {
        width: 1180px !important;
        margin: 40px auto;
    }

    .contact_banner_block .container{ padding: 0px!important;  width: 100%!important;}

    .about_banner_block{ background-position: -150px top;}

    .about_banner_block .container{ padding: 0px!important;  width: 100%!important;}

    .adddoctor_banner_block .container{ padding: 0px!important;  width: 100%!important;}

    .resources_banner_block .container{ padding: 0px!important;  width: 100%!important;}


    .videos_banner_block .container {
        padding: 0px !important;
        width: 100% !important;
    }

}

@media only screen and (max-width: 1199px) {

    .temp-home-top .container{ width: 90%; margin: 0 auto; padding: 0px; text-align: center; }


    .add_doctor_formconbox .form-group4 .form-control {
        width: 60%;}

    .videos_wrapperblock{ width: 90%!important;}

    .about_banner_block{ background-position: right top; height: 410px;}

    .about_banner_block h2{background:#333; text-align:center; padding: 25px 25px 20px 25px; font-size: 60px; color: #fff; text-transform: uppercase;  font-family: 'ralewaybold'; margin: 298px 0 0 0; display: block;}

  /*  .adddoctor_banner_block{ background-position: right top; height: 410px;}
    .adddoctor_banner_block h2{background:#333; text-align:center; padding: 25px 25px 20px 25px; font-size: 60px; color: #fff; text-transform: uppercase;  font-family: 'ralewaybold'; margin: 298px 0 0 0; display: block;}
*/

    .resources_banner_block{ background-position: right top; height: 410px;}
    .resources_banner_block h2{background:#333; text-align:center; padding: 25px 25px 20px 25px; font-size: 60px; color: #fff; text-transform: uppercase;  font-family: 'ralewaybold'; margin: 298px 0 0 0; display: block;}


    .contact_banner_block h2{background:#333; text-align:center; padding: 25px 25px 20px 25px; font-size: 60px; color: #fff; text-transform: uppercase;  font-family: 'ralewaybold'; margin: 298px 0 0 0; display: block;}

    .contact_banner_block .container{ padding: 0px;}

    .contact_banner_block{ height: 410px;}

    .about_contain_block3{ min-height: inherit; background-position: center bottom; background-size: 280px; padding:0 0 520px 0!important; margin-top: 10px!important;}

    .about_contain_block3  .about_contain_block3_text2 h4{ padding-left: 50px;}

    .about_contain_block2 .nm_about1{ float: none; margin: 0 auto; width: auto; max-width: 100%; display: block; margin-top: 30px;}

    .about_contain_block2 .about_contain_block2_text{ width: 100%; float: none; text-align: center;}

    .about_contain_block2 .about_contain_block2_text h3{ border: none; padding: 0px;}


    .home_top_menu2{ padding-top: 10px!important;}
    .home_top_menu2 .topmenu2_left{ margin-bottom: 10px!important; }



    .about_banner_block h2{background:#333; text-align:center; padding: 25px 25px 20px 25px; font-size: 60px; color: #fff; text-transform: uppercase;  font-family: 'ralewaybold'; margin: 298px 0 0 0; display: block;}



    .home_block4con .col-md-4{ width: 100%; float: none; height: auto; }
    .home_block4con .col-md-4:nth-of-type(2){ margin-left:auto; margin-right: auto; margin-top: 64px; }
    .home_block4con .col-md-4:nth-of-type(3){ margin-top: 64px;}

    .home_block5{ background-image: none; background-color: #cecdc9; padding-bottom: 6px;}

    .home_block5_bg2{display: block; width: 100%;}

    .home_block5 .container{ width: 100%!important;}
    .home_block5 h1{ text-align: center; padding: 25px 15px 4px 15px;}
    .home_block5 ul{ padding-left: 5%; padding-right: 5%;}
    .home_block5 li{ text-align: center; background-position: center top!important; padding: 80px 0 0 0; margin-bottom: 20px;}

    .home_block6 .home6ulblock{ background: url("../images/home_block6_img.jpg") no-repeat center bottom; min-height: inherit;  margin-top: 20px; padding: 0px 0 360px 0px; background-size: 600px;}

    .home_block6 ul{ padding-top: 30px;}
    .home_block6 ul li{ text-align: center;  margin-bottom: 25px; background-position: center top; padding: 25px 0 0 0;  }

    .home_block6 .homeblock6btn{ float: none; margin: 20px auto; margin-bottom: 0px;}


    .contact_form_block {
        width: 90% !important;
        margin: 40px auto;
    }



    .contact_form_block .contact_form_left {
        width: 100%;
        float: none;
    }



    .contact_form_block .contact_form_right {
        width: 400px; margin: 0 auto;
        float: none; margin-top: 34px;
    }

    .contact_form_right h2{ text-align: center; background-position: center top; padding: 35px 0 0 0; margin-bottom: 15px; margin-top: 15px;}
    .contact_form_right h3{ text-align: center; background-position: center top; padding: 35px 0 0 0; margin-bottom: 15px;  margin-top: 15px;}
    .contact_form_right h4{ text-align: center; background-position: center top; padding: 35px 0 0 0;  margin-top: 15px;}
    .consubbtn{ display: block!important; float: none!important; margin: 0 auto!important;}


    .contract_waitingdiv_block1{ background-size: 280px; background-position: center bottom; padding:20px 0 512px 0; text-align: center;}

    .contract_waitingdiv_logo{ width: 200px; margin: 30px auto;}

    .videos_banner_block {
        height: 410px;
    }

    .videos_banner_block h2 {
        background: #333;
        text-align: center;
        padding: 25px 25px 20px 25px;
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'ralewaybold';
        margin: 298px 0 0 0;
        display: block;
    }


    .nms100_banner_block {
        height: 410px;
    }

    .nms100_banner_block h2 {
        background: #333;
        text-align: center;
        padding: 25px 25px 20px 25px;
        font-size: 60px;
        color: #fff;
        text-transform: uppercase;
        font-family: 'ralewaybold';
        margin: 298px 0 0 0;
        display: block;
    }


}


@media only screen and (max-width: 1100px) {
    .nms100_banner_block{ background-position: -220px top;}
}



@media only screen and (max-width: 1080px) {
    .contact_banner_block{ background-position: -220px top;}
}



@media only screen and (max-width: 1024px) {
    .contact_banner_block{ background-position: -260px top;}
}




@media only screen and (max-width: 991px) {


    .contact_banner_block{ background-position: right top;}


    .videos_wrapperblock .videos_block_con{ text-align:center;}

}


@media only screen and (max-width: 960px) {
.about_banner_block{ background-position: -660px top;}

    .resources_banner_block{ background-position:-620px top;}
}

@media only screen and (max-width: 900px) {

    .add_doctor_formconbox .form-group4 .form-control {
        width: 50%;
    }
}

@media only screen and (max-width:880px) {
    .nms100_banner_block{ background-position: -320px top;}
}



@media only screen and (max-width: 800px) {



    .pdf_wrapper{ width: 90%; height: auto; margin: 0 auto;}

    .p1_b1_input3 {
        width: 198px;
    }

    .pdf_page1_block2 strong {
        padding-left: 30px;
    }

    .pdf_page1_block3 span {
        padding-left: 50px;
    }

    .p1_label1{ padding-left: 0px;}

    .blockformdiv {
        width: 278px;
        margin: 18px auto;
    }

    .blockformdiv_box {
        width: 150px;
        float: right;
    }

    .blockformdiv label {
        width: 115px;}

    .p1_b1_input5 {
        width: 220px;
    }

    .p1_b1_input6 {
        width: 200px;
    }

    .p1_b1_input7 {
        width: 210px;
    }
    .p1_b1_input8 {
        width: 207px;
    }

    .pdf_wrapper .page7pdf_devider {
        width: 280px}

}



@media only screen and (max-width: 767px) {


    .temp-home-top{ font-size: 16px;}

    .newtraining_awrapper h2{ font-size: 40px; text-align: center; background-size: 100px; background-position: center top; padding: 62px 0 0 0; }

    .newtraining_awrapper h3{ font-size: 40px; text-align: center;}

    .page-training .training_lessons_block{ background-image: none;}

    .newtraining_awrapper h5{ text-align: center;}
    .newtraining_awrapper h4{ text-align: center;}
    .newtraining_awrapper label{ text-align: center;}

    .contact_banner_block{ background-position: -640px top;}

    .videos_banner_block{background-position: -640px top;}




}



@media only screen and (max-width:760px) {
    .nms100_banner_block{ background-position: -500px top;}
}



@media only screen and (max-width: 740px) {
    .about_banner_block{ background-position: -730px top;}
}


@media only screen and (max-width: 720px) {

    .add_doctor_formconbox h2{ text-align: center;}
    #quiz{ width: 400px!important;}
    .home_block6 .home6ulblock{padding: 0px 0 240px 0px; background-size: 400px;}

    #quiz .answer_choice label{ width:320px; display: block; float: left;}

    .videos_banner_block{background-position: -750px top;}


    .add_doctor_formconbox  .form-group{ width: auto; float: none;}
    .add_doctor_formconbox  .form-group .form-control{ width: 100%; float: none;}

    .add_doctor_formconbox  .form-group2{ width: auto; float: none;}
    .add_doctor_formconbox  .form-group2 .form-control{ width: 100%; float: none;}

    .add_doctor_formconbox  .form-group3{ width: auto; float: none;}
    .add_doctor_formconbox  .form-group3 .form-control{ width: 100%; float: none;}

    .add_doctor_formconbox  .form-group4{ width: auto; float: none;}
    .add_doctor_formconbox  .form-group4 .form-control{ width: 100%; float: none;}


    .add_doctor_formconbox h2{ margin: 0px; margin-bottom: 5px;}

    .add_doctor_formconbox{ padding: 10px;}

    .add_doctor_formconbox .form-group4 input[type="button"]{ float: none; margin-top: 8px;}



}



@media only screen and (max-width: 640px) {

    .doctor_login_boxcon{ width: 400px; padding: 40px 0;}

    .doctor_login_boxcon .login_bottom_con label{ display: block; width: 100%; text-align: center; padding-bottom: 10px;}
    .doctor_login_boxcon .login_bottom_con span{ display: block; width: 100%; text-align: center;}
    .doctor_login_boxcon .login_bottom_con label a{ display: inline-block;}

    .doctor_login_boxcon .doctor_login_btn{ width: 343px !important;}

    .doctor_login_wrapper h2{ font-size: 30px;}

    .doctor_login_wrapper .doctor-login-logo{ width: 290px;}
}




@media only screen and (max-width: 620px) {
.contact_banner_block{ background-position: -720px top;}

    .about_banner_block{ background-position: right top;}
}

@media only screen and (max-width:600px) {
    .nms100_banner_block{ background-position: -650px top;}
}



@media only screen and (max-width: 540px) {

    .videos_banner_block {
        background-position: -910px top;
    }


    .about_banner_block{ background-position: -1050px top;}

    .adddoctor_body_wrapper{ width: 96%; padding: 0px!important;}

    .contact_form_block{ width: 96%; padding: 0px!important;}

    .contact_form_block .contact_form_left{ width: 100%; margin-left: auto; margin-right: auto; padding: 0px!important;}
    .contact_form_block .contact_form_right{ width: 100%; margin-left: auto; margin-right: auto; padding: 0px!important;}

    .contact_banner_block{ background-position: -770px top;}

    .carouselwrapper .carousalfill{ max-width: inherit!important; width: 290% !important; margin-left: -132%;}


}


@media only screen and (max-width: 500px) {
    .home_block6 .home6ulblock{padding: 0px 0 200px 0px; background-size: 320px;}

    .newtraining_awrapper h2{ font-size: 26px;}

    .newtraining_awrapper h3{ font-size: 26px;}

    .new_signup_condiv{ width: 300px;}

    .new_signup_condiv .new_signup_inpitdiv{width: 65%;}


}

@media only screen and (max-width: 480px) {

    .adddoctor_banner_block h2{background-size: 60px; width: 90%; display:block; font-size: 28px; background-position:  center 10px; padding: 75px 5px 10px 5px; text-align: center;}

    .lead_management_table #button_action_panel{ width: 280px!important; margin: 0px!important;}


     .rephead  h2{background-size: 60px; width: 90%; display:block; font-size: 28px; background-position:  center 10px; padding: 75px 5px 10px 5px; text-align: center;}
     .mailhead  h2{background-size: 45px; width: 90%; display:block; font-size: 28px; background-position:  center 10px; padding: 66px 5px 10px 5px; text-align: center;}




    #button_action_panel #lead_management_qsearch_form #te_qkeywords{width: 215px !important;}


    .about_banner_block{ background-position: -1020px top;}

    .nms100_wrapperblock .nms100_block_left h3{ font-size: 50px;}
   /* .adddoctor_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}
    .adddoctor_banner_block {
        background-position: right top;
        height: 304px;
    }*/


    .resources_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}
    .resources_banner_block {
        background-position: -590px top;
        height: 304px;
    }



    .ad-form-btn_wrapper{ width: 100%; margin: 10px auto;}
    .ad-form-btn_wrapper input{ float: none; margin: 0 auto!important; width: 192px;}

    .ad-form-btn_wrapper input:nth-of-type(1){ margin-bottom: 10px!important;}

}



@media only screen and (max-width: 460px) {
    .about_banner_block{ background-position: -1058px top;}

#quiz{ width: 300px!important;}
.home_block6 .home6ulblock{padding: 0px 0 240px 0px; background-size: 400px;}

#quiz .answer_choice label{ width:240px; display: block; float: left;}

    .contact_banner_block{ background-position: -800px top;}
    .home_block6 .home6ulblock{padding: 0px 0 160px 0px; background-size: 250px;}
}


@media only screen and (max-width:440px) {
    .nms100_banner_block{ background-position: -680px top;}


    .ssfullyadd_doctor_btncon .sadd_btn{ display: block!important; width: 250px!important; height: auto!important; line-height: inherit!important;   white-space: normal; min-height: 40px!important;}
}


@media only screen and (max-width: 400px) {

    .doctor_login_boxcon{ width: 300px;}


    .doctor_login_boxcon .doctor_login_btn{ width: 243px !important;}
}




@media only screen and (max-width: 340px) {

    .doctor_login_boxcon{ width: 280px;}


    .doctor_login_boxcon .doctor_login_btn{ width: 223px !important;}
}


@media only screen and (max-width:380px) {
    .nms100_banner_block{ background-position: -700px top;}
}


@media only screen and (max-width: 360px) {
    .contact_banner_block {
        background-position: -560px top;
    }

    .contact_banner_block{background-size: 1080px;}

    .contact_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

    .contact_banner_block {
        height: 304px;
    }


    .about_banner_block {
        background-position: -750px top;
    }

    .about_banner_block{background-size: 1177px;}

    .about_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

   /* .adddoctor_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}*/

    .resources_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

    .resources_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

    .about_banner_block {
        height: 304px;
    }


    .videos_banner_block {
        background-position: -750px top;
    }


    .videos_banner_block{background-size: 1177px;}

    .videos_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

    .videos_banner_block {
        height: 304px;
    }




    /*--------*/
    .nms100_banner_block {
        background-position: -520px top;
    }


    .nms100_banner_block{background-size: 1177px;}

    .nms100_banner_block h2{margin: 214px 0 0 0; font-size: 40px;}

    .nms100_banner_block {
        height: 304px;
    }



    #quiz{ width: 280px!important;}


    #quiz .answer_choice label{ width:220px; display: block; float: left;}

}



