/*Home page media css----*/

@media only screen and (max-width: 1360px) {
    .menu_block1 .topmenu_left {
        width: 450px; float: left;
    }

    .menu_block1 .topmenu_right {
        float: right;
        padding: 0 !important;
        width: 690px;
    }

}


@media only screen and (max-width: 1199px) {
    .footer_wrapper{ background-image: none; text-align: center;}

    .menu_block1 .topmenu_left {
        width: 450px; float: none; margin: 0 auto;
    }

    .menu_block1 .topmenu_right {
        float: none; margin: 0 auto;
        padding: 0 !important;
        width: 690px;
    }


}

@media only screen and (max-width: 991px) {

    .menu_block2{ background-image: none;}

    .menu_block2 .menu_block2_logo{  display:block; float: none; width: 190px; margin: 20px auto; padding-top: 0px;}

    .menu_block2 .menu_block2_logo .nex_logo{ width: 100%;}
    .menu_block2 .menu_block2_link{ display: block; width: 100%; float: none; text-align: center; padding-bottom: 0px; margin-left: 0px;}

    .menu_block2 .menu_block2_link a{ display: inline-block; margin-bottom: 20px;}

    .menu_block2 .menu_block2_link .menuicon{ display: block; margin: 0 auto; margin-bottom: 20px;}
}

@media only screen and (max-width: 767px) {

    .menu_block1 .topmenu_left {
        width: 100%; float: none; margin: 0 auto; text-align: center; padding-bottom: 0px;
    }
    .menu_block1 .topmenu_left a{ display: inline-block; margin-bottom: 20px;}

    .menu_block1 .topmenu_right {
        width: 100%;
    }


    .menu_block1 .topmenu_right .topmenu_right_menu{ width: 100%; float: none; margin: 0 auto; text-align: center; padding-bottom: 0px;}

    .menu_block1 .topmenu_right .topmenu_right_menu a{ display: inline-block; margin-bottom: 20px;}
    .topmenu_right_user{ float: none; margin: 20px auto; margin-top: 0px; }

}

@media only screen and (max-width: 600px) {
.pdf_wrapper{ width: 90%; height: auto; margin: 0 auto;}

}